.products-list-wrapper {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.filter-section .btn-group, .filter-section .dropdown-menu {
    text-align: center;
}

