.products-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-wrapper {
    margin: 10px;
    max-width: 300px;
    max-height: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.product-wrapper:hover {
    border: 1px solid rgb(8, 255, 251);
}

.product-wrapper .product {
    position: relative;
}

.product-wrapper .product-img {
    background-color:#F5F6F6;
    border-radius: 16px;
}

.product-wrapper .product-img img {
    width: 100%;
}

.product-wrapper .favorite-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
    display: flex;
}

.product-wrapper .favorite-icon:hover {
    background-color: pink;
}

.product-wrapper .product-title h4{
    font-weight: 600;
}

.product-wrapper .product-title,.product-wrapper .product-cost {
    display: inline-block;
}

.product-wrapper  .product-details {
    padding: 8px;
}

.product-wrapper .product-title {
    margin: 0 18px;
}

.product-wrapper .product-cost span {
    font-size: 23px;
    font-weight: 600;
}

.product-wrapper .product-rating {
    margin: 0 0 9px 0;
    display: flex;
    justify-content: center;
}
