.product-wrapper {
    margin: 10px;
    max-width: 300px;
    max-height: fit-content;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.product-wrapper:hover {
   transform: scale(1.02);
}

.product-wrapper .product-img img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit:contain;
}

.product-wrapper .product-image-section {
    position: relative;
}

.product-wrapper .favorite-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.product-wrapper .favorite-icon i {
    padding: 8px;
    
}

.product-wrapper .product-image-section .remove {
    background-color: red;
    color: white;
}


.product-wrapper .product-title h4{
    font-weight: 600;
}

.product-wrapper .product-title,.product-wrapper .product-cost {
    display: inline-block;
}

.product-wrapper  .product-details {
    padding: 8px;
}

.product-wrapper .product-title {
    margin: 0 18px;
}

.product-wrapper .product-cost span {
    font-size: 23px;
    font-weight: 600;
}

.product-wrapper .product-rating {
    margin: 0 0 9px 0;
    display: flex;
    justify-content: center;
}
