.checkout {
    height: 70vh;
}

.checkout .payment-btn {
  display: flex;
  justify-content: center;
}

.checkout-footer .payment-methods {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.checkout-footer {
  text-align: center;
}

.payment-methods img {
  width: 80px;
  height: 80px;
}

.checkout .table {
  text-align: center;
}
