.product-details-wrapper {
  padding: 10px;
}

.product-details-wrapper .details > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details-wrapper .buy-section {
  margin: 10px 0;  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-details-wrapper .carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details-wrapper .carousel-item {
  max-width: 400px;
  max-height: 300px;
}







